body{
    overflow: auto;

}

#wrapper{
    overflow: hidden;
    position: relative;
    height: 100%;
}

.box{
    height: 215px
}
.tab-switch {
    padding: 0px;
    font-size: 1.3em;
    cursor: pointer;
    cursor: hand;
    font-weight: 600;
}

.tab-switch-active{
    color: #18a689
}

.recognize{
    display: none;
}

.recognize .content, .whats-happening .content{
    /*background-color: rgba(196, 192, 192, 0.1);*/
    /*overflow: hidden;*/
    border-radius: 10px;
}

.recognize h3, .recognize  p{
    /* color: #fff; */
}

.content textarea{
    /*background-color: transparent;*/
    background-color: rgba(196, 192, 192, 0.1);
    border: none;
    outline: none;
    resize: none;
    color: #fff;
    height: 80px;
}
.recognize textarea:focus, .recognize textarea:active{
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.recoginize-button{
    right: 0px;
    border-radius: 10px;
    position: absolute;
    margin-top: 11px;
    color: #333;
    font-size: 14px;
}

.recognize .item{
    height: 158px;
}

.recognize .item .first-row{
    height: 100px;
    min-height: 100px;
    background-color: rgba(196, 192, 192, 0.1);
    border-radius: 10px;
}

.recognize .item .first-row textarea{
    background: transparent;
    width: 85%;
    overflow: hidden;
}

.recognize .item .second-row{
    height: 58px;
    min-height: 58px;
}




.recoginize-button:hover,
.recoginize-button:active,
.recoginize-button:focus
{
    background-color: #18a689;
    border-color: #18a689;
    color: #333 !important;
    outline: none !important;
}
.award-target{
    height: 100px
}

.nav-controls{
    position: absolute;
    top: 25%;
    right: 10px;
    z-index: 88;
}

.select2-search { background-color: transparent }

/*
.select2-search input { background-color: #00f; }

.select2-results { background-color: #00f; }*/


.select2-container--bootstrap .select2-selection {
    /*background-color: transparent;*/
    background-color: rgba(196, 192, 192, 0.1);
    border: none;
    border-radius: 10px;
    color: #555555;
    font-size: 14px;
    outline: 0;
    height: 80px /*!important*/;
    vertical-align: middle;
    padding-top: 25px;
    margin-top: 10px;
}

.block .select2-container--bootstrap .select2-selection {
    height: auto;
    padding-top: 4px;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: none;
}


.nav-controls a{
    margin-right: 20px;
}

.nav-controls .carousel-control {
    position: relative;
}

.item{
    height: 116px;
}
#slide {
    border:1.5px solid black;
    position:absolute;
    top:0;
    right:0;
    width:400px;
    height:100%;
    background-color:#FFFFFF;
    layer-background-color:#F2F2F2;
    z-index: 3000;
    border-radius: 4px;
}

img.profile-pic {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.content .left{
    margin-right: 20px;
}

.step-indicator{
    color: #fff;
    text-align: right;
    padding: 5px;
    position: absolute;
    top: 4px;
    right: 52px;
}


.check-manager{
    padding-top: 10px ;
}

.check-manager input{
    margin-right: 10px;
}
.select2-choices{
    display: -webkit-inline-box;
    max-width: 100%;
}
.select2-choices{
    display: -webkit-inline-box;
}
.nav-controls .carousel-control.right , .nav-controls .carousel-control.left {
    right: 0;
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}

.award-list {
    list-style: none;
    padding: 0;
}
ul.award-list {
    list-style-type: none;
    width: 500px;
}
ul.award-list.result {
    list-style-type: none;
    width: 100%;
}

.award-result{
    margin-top: 25px;
}

.award-list h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.award-list li img {
    float: left;
    margin: 16px 0px 0 0;
    width: 50px;
    height: 50px;
}

.award-list li p {
    /* font: 200 12px/1.5 Georgia, Times New Roman, serif;*/
}

.award-list li {
    padding: 10px;
    overflow: auto;
    padding-right: 100px;
}

.award-list li:hover {
    cursor: pointer;
}


#pick-award{
    position: absolute;
    margin-top: 11px;
    left: 0;
    font-weight: 700;
}


.submit-message{
    margin-top: 19px;
    border-radius: 10px;
    color: #333;

    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.submit-message:hover,
.submit-message:active,
.submit-message:focus
{
    background-color: #18a689;
    border-color: #18a689;
    color: #333 !important;
    outline: none !important;
}




.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}



/* REPLACE FOLLOWING WITH STYLE.CSS */

.ibox-status {
    color: inherit;
    padding: 18px 40px 18px 40px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 0px 0px;
    margin-top: 105px;
    /*margin-left: 300px;
    margin-right: 380px;*/
    border-radius: 20px;
    background: rgba(0, 0, 0,0.8);
    margin: 0 auto;
    margin-top: 118px;
    margin-bottom: 24px;
}

.ibox-status > i {
    padding-right: 6px;
}

.carousel input::-webkit-input-placeholder, .carousel textarea::-webkit-input-placeholder, .whats-happening textarea::-webkit-input-placeholder{
    color: #FFFFFF !important;
}

.carousel input:-moz-placeholder, .carousel textarea:-moz-placeholder, .whats-happening textarea:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF !important;
}

.carousel input::-moz-placeholder, .carousel textarea::-moz-placeholder, .whats-happening textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #FFFFFF !important;
}

.carousel input:-ms-input-placeholder, .carousel textarea:-ms-input-placeholder, .whats-happening textarea:-ms-input-placeholder {
    color: #FFFFFF !important;
}

.content textarea{
    font-size: 13px;
}

.btn.arrow-btn-back {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 30px;
    height: 30px;
    /* border: 2px solid #e76f62;
     border-radius: 100%;*/
    background: url(../images/btn-arrow-back_green.png) no-repeat;
}

.btn.arrow-btn {
    width: 30px;
    height: 32px;
    /* border: 2px solid #e76f62;
     border-radius: 100%; */
    background: url(../images/btn-arrow_green.png) no-repeat;
}


#page-bg{
    background: url(../images/img/baner-pic4.jpg) center center/cover no-repeat;
    /*height: 369px;*/
    overflow-x: hidden;
}


.first-row input[type=text]{
    width: 100%;
}


.selectize-control{
    background: transparent;
}

.second-row .selectize-input{
    background-color: rgba(196, 192, 192, 0.1) !important;
    border: 10px !important;
    margin-top: 5px;
}
.selectize-input{
    background-color: transparent !important;
    border: none !important;;
}
.selectize-input input{
    color: #fff !important;
}

.selectize-control.multi .selectize-input [data-value] {
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #18a689 !important;;
    background-image: -moz-linear-gradient(top, #18a689, #18a689) !important;;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18a689), to(#18a689)) !important;;
    background-image: -webkit-linear-gradient(top, #18a689, #18a689) !important;;
    background-image: -o-linear-gradient(top, #18a689, #18a689) !important;;
    background-image: linear-gradient(to bottom, #18a689, #18a689) !important;;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #18a689 !important;
    color: #ffffff;
    border: 1px solid #18a689 !important;
}

.selectize-control.movies .selectize-dropdown [data-selectable] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 20px;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 10px 10px 60px;
}

.selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
    border-bottom: 0 none;
}

.selectize-control.movies .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}

.selectize-control.movies .selectize-dropdown .by::before {
    content: 'by ';
}

.selectize-control.movies .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control.movies .selectize-dropdown .description {
    font-size: 12px;
    color: #a0a0a0;
}

.selectize-control.movies .selectize-dropdown .actors,
.selectize-control.movies .selectize-dropdown .description,
.selectize-control.movies .selectize-dropdown .title {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectize-control.movies .selectize-dropdown .actors {
    font-size: 10px;
    color: #a0a0a0;
}

.selectize-control.movies .selectize-dropdown .actors span {
    color: #606060;
}

.selectize-control.movies .selectize-dropdown img {
    height: 60px;
    left: 10px;
    position: absolute;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.04);
}

.selectize-control.movies .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.selectize-control.movies .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}

.selectize-control.movies .selectize-dropdown .meta li span {
    font-weight: bold;
}

.selectize-control.movies::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.movies.loading::before {
    opacity: 0.4;
}

.selectize-dropdown-content {max-height: 400px; }

ul.award-list li.current h3{
    padding-left: 75px;
    margin-top: 10px
}

ul.award-list li.current p {
    padding-left: 75px;
}

span.award-title {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #18a689;
    vertical-align: m;
    padding-top: 25px;
    padding-left: 25px;
}
span.award-point{
    padding-top: 25px;
    color: #18a689;
    font-size: 20px;
    font-weight: 400;
     padding-left: 50px;
    margin-left: 0px;
}